.full-width {
  width: 100%;
}

.mic-button {
  float: right;
}

.lang-select {
  padding: 0 25px 0 0;
}

.footer-buttons {
  button:first-child {
    margin-right: 10px;
  }
}

form {
  margin-left: 5%;
  margin-right: 5%;
  // margin-top: 5%;
}
