
<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

<!-- <mat-form-field appearance="legacy">
  <mat-label>Legacy form field</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field> -->


  <mat-form-field class="full-width" appearance="legacy">
    <mat-button
      class="mic-button"
      type="button"
      mat-mini-fab
      color="primary"
      appRecord
      (textCaptured)="questionCaptured($event)"
    >
      <mat-icon>mic</mat-icon>
    </mat-button>
    
    <mat-label>Enter Question here</mat-label>
    <input
      matInput
      formControlName="question"
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-button
      class="mic-button"
      type="button"
      mat-mini-fab
      color="primary"
      appRecord
      (textCaptured)="answerCaptured($event)"
    >
      <mat-icon>mic</mat-icon>
    </mat-button>
    <mat-label>Enter Answer here</mat-label>
    <input
      matInput
      formControlName="answer"
    />
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field> -->

  <button  class='submit_button' mat-raised-button type="submit" [disabled]="!formGroup.valid">Add Question</button>
</form>


<div>
  <header [@fallIn]='state'>
    <button (click)='logout()'> Logout </button>
  </header>
  <!-- <div id='page' [@moveInLeft]='state'>
    <h2> Hey </h2>
  </div> -->
</div>