<mat-form-field>
  <mat-label>Language</mat-label>
  <mat-select [(ngModel)]="criteria.language">
    <mat-option *ngFor="let lang of languages$ | async" [value]="lang.id">
      {{ lang.value }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Skill Level</mat-label>
  <mat-select [(ngModel)]="criteria.skill">
    <mat-option *ngFor="let skill of skills$ | async" [value]="skill.id">
      {{ skill.value }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button (click)="fetchQuestions()">Get Questions</button>
<div class="question-container" *ngIf="formGroup">
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-accordion>
      <mat-expansion-panel
        class="question-accordion"
        *ngFor="let question of questionList; let i = index"
        (opened)="onExpanded(question)"
      >
        <mat-expansion-panel-header>
          {{ question.question }}
        </mat-expansion-panel-header>
        <mat-panel-description>
          <mat-form-field class="full-width">
            <button
              class="mic-button"
              type="button"
              mat-mini-fab
              color="primary"
              appRecord
              (textCaptured)="answerCaptured($event, question)"
            >
              <mat-icon>mic</mat-icon>
            </button>
            <textarea matInput [formControlName]="question.id"></textarea>
          </mat-form-field>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
    <button type="submit">Submit</button>
  </form>
</div>
