<div class="action-bar">
  <div class="filters">
    <span class="filter-text">Filter By:</span>
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select [(ngModel)]="criteria.language">
        <mat-option *ngFor="let lang of (skills$ | async | lang)" [value]="lang">
          {{ lang }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Skill Level</mat-label>
      <mat-select [(ngModel)]="criteria.skill">
        <mat-option *ngFor="let skill of (skills$ | async | skill)" [value]="skill">
          {{ skill }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="fetchQuestions()">
    Get Questions
  </button>
</div>
<div class="question-container" *ngIf="formGroup">
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-accordion>
      <mat-expansion-panel
        class="question-accordion"
        *ngFor="let question of questionList; let i = index"
        (opened)="onExpanded(question)"
      >
        <mat-expansion-panel-header>
          {{ question.question }}
        </mat-expansion-panel-header>
        <mat-panel-description>
          <mat-form-field class="full-width">
            <button
              class="mic-button"
              type="button"
              mat-mini-fab
              color="primary"
              appRecord
              (textCaptured)="answerCaptured($event, question)"
            >
              <mat-icon>mic</mat-icon>
            </button>
            <textarea matInput [formControlName]="question.id"></textarea>
          </mat-form-field>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
    <button class="btn-submit" mat-raised-button color="primary" type="submit" [disabled]='disabled'>Submit</button>
  </form>
</div>
