<mat-sidenav-container class="container">
  <mat-sidenav
    #sidenav
    class="side-nav"
    (keydown.escape)="sidenav.close()"
    disableClose
    position="end"
  >
    <div class="drawer-question-panel">
      <app-new-question
        [question]="questionToEdit"
        (close)="onSideNavClose($event)"
      ></app-new-question>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="action-bar">
      <div class="filters">
        <span class="filter-text">Filter By:</span>
        <mat-form-field>
          <mat-label>Language</mat-label>
          <mat-select
            [(ngModel)]="filter.lang"
            (ngModelChange)="filterRecords()"
          >
            <mat-option
              *ngFor="let lang of (skills$ | async | langsplit)"
              [value]="lang"
            >
              {{ lang }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Skill Level</mat-label>
          <mat-select
            [(ngModel)]="filter.skill"
            (ngModelChange)="filterRecords()"
          >
            <mat-option
              *ngFor="let skill of (skills$ | async | skillsplit)"
              [value]="skill"
            >
              {{ skill }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="float: right;">
      <button mat-raised-button color="primary" (click)="addSkill()">
        Add Skill
      </button>
      <button mat-raised-button color="primary" (click)="addNewQuestion()">
        New Question
      </button>
      </div>
    </div>
    <div
      *ngFor="let question of questionList; let i = index"
      class="question-container"
    >
      <mat-expansion-panel class="question-accordion">
        <mat-expansion-panel-header>
          {{ question.question }}
        </mat-expansion-panel-header>
        <mat-panel-description>
          {{ question.answer }}
        </mat-panel-description>
      </mat-expansion-panel>
      <div class="action-buttons">
        <button
          mat-raised-button
          mat-mini-fab
          color="primary"
          (click)="editQuestion(question)"
          [disabled]="question.uuid != loggedInUserId"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <!-- <button mat-raised-button color="primary" (click)="readQuestion(i)">
          Read
        </button> -->
        <button mat-mini-fab color="ascent" (click)="readQuestion(i)">
          <mat-icon aria-hidden="false" >record_voice_over</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteQuestion(i)" [disabled]="question.uuid != loggedInUserId">
          <mat-icon aria-hidden="false" >delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <a href="/newQuestion">New Question</a> -->
