 <div class="form-container">
     <a routerLink='/login' id='goback'> Go Back </a>
     <h2> Custom Login </h2>
     <span class="error" *ngIf='error' [@fallIn]='state'> {{error}} </span>
     <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
        <input type='text' placeholder='Enter Email Address' (ngModel)="email" name='email' class='txt' required/>
        <input type='password' placeholder='Enter Password' (ngModel)="password" name='password' class='txt' required/>
        <button type='submit' [disabled]='!formData.valid' class='basic-btn'> Login </button>
        <a routerLink='/signup' class='alc' > Don't have an account? </a>
     </form>
 </div>